# Сборочные директории (весь компилируемый код и тяжелые артефакты)
/target/
/out/
/build/
target/
# Настройки IDE ( IntelliJ IDEA, Eclipse, NetBeans)
.idea/
/*.mvn
/*.iml
/*.iws
/*.ipr
/.settings/
/.classpath
/.project
.vscode/
# Логи работы приложения и кэш
*.log
/logs/
.gradle/

# Системные файлы операционных систем
.DS_Store
Thumbs.db
